* {
    --color1: #eac67a;
    --color2: #18121e;
    --color3: #984b43;
    --color4: #eac67a;

    color: black;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-family: 'Source Sans Pro', sans-serif;
}

/*HEADER*/

header, footer {
    background-color: var(--color2);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0% 8%;
    gap: 34px;
}

header * {
    color: var(--color1);
    box-sizing: content-box;
}

header div {
    color: var(--color1);
}

header nav, footer nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

header a, footer a {
    flex: 1;
    text-align: right;
}

header .searchbar {
    display: flex;
    justify-content: center;
}

header .searchbar button {
    color: #000;
}

header input {
    color: var(--color2);
    float: right;
}

.btn-header {
    flex: 0;
    color: var(--color2);
    background-color: var(--color1);
    padding: 2px 5px;
    border-radius: 10%;
}

footer * {
    color: var(--color1);
}
