* {
    color: black;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

/*HEADER*/

header {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0% 8%;
    gap: 34px;
}

header * {
    color: white;
    box-sizing: content-box;
}

header div {
    color: white;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

header a {
    flex: 1;
    text-align: right;
}

header .searchbar {
    display: flex;
    justify-content: center;
}

header input {
    color: black;
    float: right;
}
