* {
    color: black;
    margin: 0px;
    padding: 0;
    text-decoration-line: none;
}

html {
    background-color: white;
}

/*HEADER*/

header {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0% 8%;
    gap: 34px;
}

header * {
    color: white;
}

header div {
    color: white;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

header a {
    flex: 1;
    text-align: right;
}

header .searchbar {
    display: flex;
    justify-content: center;
}

header input {
    color: black;
    float: right;
}

/*SECTION*/

section {
    display: flex;
    padding: 0 8%;
    align-items: flex-start;
    background-color: gray;
}

section ul {
    flex: 1;
    list-style: none;
    background-color: black;
}

section ul li {
    color: white;
    margin: 30px 0 30px 50px
}

section div.container {
    flex: 4;
    display: flex;
    background-color: darkgray;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    width: 198px;
    height: 198px;
    border: 1px solid white;
    margin: 30px;
}