html {
    background-color: var(--color1);
}

/*SECTION*/

section {
    display: flex;
    background-color: var(--color1);
	align-items: stretch;
}

section div.container {
    flex: 4;
    display: flex;
    background-color: var(--color4);
    flex-wrap: wrap;
    justify-content: space-around;
	align-content: space-around;
	padding-bottom: 5%;
	padding-right: 5%;
}

.container div {
    width: 198px;
    height: 198px;
    border: 1px solid white;
	margin-top: 5%;
	margin-left: 5%;
}
