html {
    background-color: var(--color1);
}

/*SECTION*/

section {
    display: flex;
    background-color: var(--color1);
	align-items: stretch;
}

section div.container {
    flex: 4;
    display: flex;
    background-color: var(--color4);
    flex-wrap: wrap;
    justify-content: space-around;
	align-content: space-around;
	padding-bottom: 5%;
	padding-right: 5%;
}

.container div {
    width: fit-content;
	margin-top: 5%;
	margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div h2 {
    background-color: var(--color2);
    width: fit-content;
    color: white;
    padding: 5px;
    border-radius: 5%;
    margin: 5%;
    text-align: center;
    max-width: fit-content;
}

.container div h2:hover {
    background-color: #2e2637;
    width: fit-content;
    color: white;
    padding: 5px;
    margin: 5%;
    cursor: pointer;
}

.container div h2 a {
    color: white;
}

.container div h3 {
    margin: 5%;
}

.container div img {
    border-radius: 10%;
    border: 2px solid var(--color2);
}
