/*Plz somebody help me style this :((*/

html {
    background-color: var(--color1);
}

/*SECTION*/

section {
    display: flex;
    align-items: stretch;
    background-color: var(--color3);
}

section ul {
    flex: 1;
    list-style: none;
    background-color: var(color2);
}

section ul li {
    color: white;
    margin: 30px 0 30px 50px
}

section div.container {
    flex: 4;  
    display: flex;
    background-color: var(--color4);
    align-items:center;
    flex-direction:column ; 
    padding: 4% 0;
    background-color: var(--color4);
    opacity: 0.9;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #dbca71 10px ), repeating-linear-gradient( #5c410763, #3c2502 );
}


