{%extends "layout.html"%}

{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="cart.css") }}'>
{%endblock%}

{%block contenido%}
<section>
        <ul id="toggle-menu">
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
        </ul>
        <div class="container">
             <div class ="container1">
                Product1
            </div>
            <div class ="container1">
                Product2
            </div>
            <div class ="container1">
                Product3
            </div>
            <div class ="container1">
                Product4
            </div>
            <div class ="container1">
                Product5
            </div>
            <div class ="container1">
                Product6
            </div>
        </div>       
    </section>
{%endblock%}