{%extends "layout.html"%}

{%block title%}
Carrito
{%endblock%}

{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="cart.css") }}'>
{%endblock%}

{%block contenido%}
<section>
        <ul id="toggle-menu">
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
        </ul>
        <div class="container">
            {% if product_list %}
                {%for product in product_list%}
                    <div class="container1">
                        <img src="{{url_for('static', filename=product.image)}}" height="230em" width="230em">
                        <h2><a href="{{ url_for('display_product', id=product.id) }}">{{product.name}}</a></h2>
                        <h3>S/.{{product.price}}</h3>
                    </div>
                {%endfor%}
            {% endif %}
        </div>       
    </section>
{%endblock%}