{%extends "layout.html"%}
{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="style.css") }}'>
{%endblock%}

{%block contenido%}
<section>
        <ul id="toggle-menu">
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
        </ul>
        
        <div class="container">
            <!--experimentores-->
            {%for a in product_list%}
            <div>
                ejemplo
            </div>
            {%endfor%}
            <!--<div>
                Product1
            </div>
            <div>
                Product2
            </div>
            <div>
                Product3
            </div>
            <div>
                Product4
            </div>
            <div>
                Product5
            </div>
            <div>
                Product6
            </div>
            <div>
                Product7
            </div>
            <div>
                Product8
            </div>
            <div>
                Product9
            </div>-->
        </div>
    </section>
{%endblock%}
