{%extends "layout.html"%}
{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="style.css") }}'>
{%endblock%}

{%block contenido%}
<section>
        <ul id="toggle-menu">
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
        </ul>
        
        <div class="container">
            <!--experimentores-->
            {%for product in product_list%}
            <div>
                <img src="{{url_for('static', filename=product.image)}}" height="230em" width="230em">
                <h2>{{product.name}}</h2>
                <h3>S/.{{product.price}}</h3>
            </div>
            {%endfor%}
        </div>
    </section>
{%endblock%}
