{%extends "layout.html"%}



{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="style.css") }}'>
{%endblock%}

{%block title%}
Menu
{%endblock%}

{%block contenido%}
<section>
        <ul id="toggle-menu">
            <a href="{{url_for('display_tagged_products', tag='2x2')}}"><li>2x2</li></a>
            <a href="{{url_for('display_tagged_products', tag='3x3')}}"><li>3x3</li></a>
            <a href="{{url_for('display_tagged_products', tag='4x4')}}"><li>4x4</li></a>
            <a href="{{url_for('display_tagged_products', tag='5x5 +')}}"><li>5x5 +</li></a>
            <a href="{{url_for('display_tagged_products', tag='Pyramix')}}"><li>Pyramix</li></a>
            <a href="{{url_for('display_tagged_products', tag='Gear cubes')}}"><li>Gear cubes</li></a>
            <a href="{{url_for('display_tagged_products', tag='Mirror cubes')}}"><li>Mirror cubes</li></a>
        </ul>
        
        <div class="container">
            <!--experimentores-->
            {%for product in product_list%}
            <div>
                <img src="{{url_for('static', filename=product.image)}}" height="230em" width="230em">
                <h2><a href="{{ url_for('display_product', id=product.id) }}">{{product.name}}</a></h2>
                <h3>S/.{{product.price}}</h3>
            </div>
            {%endfor%}
        </div>
    </section>
{%endblock%}
