<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="global.css") }}'>
	{%block estilos%}{%endblock%}
</head>
<body>
    <header>
        <nav>
            <div class="btn-header" onclick="toggleMenu()">
                &#9776
            </div>
            <img class="btn-heades" src="../static/imagenes/1.png" width="180px" height="150px" alt="MDN">
        </nav>
        <nav>
            <a href="/">Menu</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}            
            <div class="searchbar">
                <input type="text" id="busqueda" name="busqueda">
                <!--No se asusten si les sale error en la linea de abajo-->
                <button type="submit" onclick="search('{{ url_for("display_searched_products", text="") }}')">Search</button>
            </div>
            <a class="btn-header" href="{{ url_for('cart') }}">&#x1f6d2;</a>
            {% if current_user.is_authenticated %}
              <div><a href="{{ url_for('display_user', id=current_user.id)}}">{{current_user.username}}</a></div>
            {% endif %}
        </nav>
    </header>
	{%block contenido%}
	
	{%endblock%}
    <footer>
        <div>
            <img class="btn-heades" src="../static/imagenes/4.jpeg" width="140px" height="40px" alt="MDN">
        </div>
        <nav>
            <a href="{{ url_for('new_product')}}">Add product</a>
            <a href="http://tetr.io">Tetris</a>
        </nav>
    </footer>
    <script src='{{ url_for("static", filename="toggleMenu.js") }}'>
    </script>
    <script src='{{ url_for("static", filename="searchbar.js") }}'>
    </script>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    setTimeout(function(){ window.alert("{{message}}"); }, 100);
                </script>
            {% endfor %}    
        {% endif %}
    {% endwith %}
    
</body>
</html>
