{%extends "layout.html"%}

{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="login.css") }}'>
{%endblock%}

{%block contenido%}
<section>
            <ul id="toggle-menu">
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
            </ul>
            <div class="page">
                
                <div class="form">
                    <h1>Login Form</h1>
                    <form action="">
                        <div class="input-box">
                            <label>Username</label>
                            <br>
                            <input type="text" name="username" autocomplete="off" required>
                        </div>
                        <div class="input-box">
                            <label>Password</label>
                            <br>
                            <input type="password" name="password" autocomplete="off" required>
                        </div>
                        <button class="btn" type="submit">Login</button>
                        <p class="forgetPass"><a href="#">Forget Password?</a></p>
                    </form>
                </div>

            </div>
        </section>
{%endblock%}