{%extends "layout.html"%}

{%block title%}
Register
{%endblock%}

{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="login.css") }}'>
{%endblock%}

{%block contenido%}
<section>
            <ul id="toggle-menu">
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
            </ul>
            <div class="page">

                <div class="form">
                    <h1>Register Form</h1>
                    <form action="" method="post">
                        <div class="input-box">
                            <label>Username</label>
                            <br>
                            <input type="text" name="username" autocomplete="off" required>
                        </div>
                        <div class="input-box">
                            <label>Email</label>
                            <br>
                            <input type="email" name="email" autocomplete="off" required>
                        </div>
                        
                        <div class="input-box">
                            <label>Password</label>
                            <br>
                            <input type="password" name="password" autocomplete="off" required>
                        </div>
                        
                        <div class="input-box">
                            <label>Confirm Password</label>
                            <br>
                            <input type="password" name="password" autocomplete="off" required>
                        </div>
                        
                        <button class="btn" type="submit" style="margin-bottom: 0;">Register</button>
                    </form>
                </div>

            </div>
        </section>
{%endblock%}