{%extends "layout.html"%}

{%block title%}
Register
{%endblock%}

{%block estilos%}
<link rel="stylesheet" href='{{ url_for("static", filename="login.css") }}'>
{%endblock%}

{%block contenido%}
<section>
            <ul id="toggle-menu">
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
                <li>Category</li>
            </ul>
            <div class="page">

                <div class="form">
                    <h1>Register Form</h1>
                    <form action="" method="post" id="form">
                        <div class="input-box" id="username-input">
                            <label>Username</label>
                            <br>
                            <input type="text" name="username" autocomplete="off" required>
                            <p class="form__input-error">4 to 16 digits, numbers, letters and underscore.</p>
                        </div>
                        <div class="input-box" id="email-input">
                            <label>Email</label>
                            <br>
                            <input type="email" name="email" autocomplete="off" required>
                            <p class="form__input-error">Letters, numbers, periods, hyphens and underscores.</p>
                        </div>
                        
                        <div class="input-box" id="password-input">
                            <label>Password</label>
                            <br>
                            <input type="password" name="password" autocomplete="off" required>
                            <p class="form__input-error">4 to 12 digits.</p>
                        </div>
                        
                        <div class="input-box">
                            <label>Confirm Password</label>
                            <br>
                            <input type="password" name="password-repeat" autocomplete="off" required>
                        </div>
                        
                        <button class="btn" type="submit" style="margin-bottom: 0;">Register</button>
                    </form>
                </div>

            </div>
        </section>
<script src='{{ url_for("static", filename="form.js") }}'>
</script>
{%endblock%}
